<div class="container">
    <div class="card">
        <div class="card-header">Mon compte <strong> > </strong> Nouvelle utilisateur </div>
    </div>
</div>
<div class="pad-in">
    <div class="row justify-content-center" style="margin-top: 5%;margin-bottom: 5%;">
        <div class="col-md-8">  
            <div class="register-form-container">
                <div class="card-body new_user">
                    <form>
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Nom</label>
                            <div class="col-md-6">
                                <input type="text" name="Nom" value="" class="fields_label">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="firstname" class="col-md-4 col-form-label text-md-right">Prenom</label>
                            <div class="col-md-6">
                                <input class="fields_label" type="text" name="prenom" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>

                            <div class="col-md-6">
                                <input type="email" class="fields_label"  name="" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Mot de passe</label>
                            <div class="col-md-6">
                                <input type="password" class="fields_label" name="" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirmation</label>
                            <div class="col-md-6">
                                <input type="password" class="fields_label" name="" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Pays</label>
                            <div class="col-md-6">
                                <select  class= "fields_label" >
                                    <option value="">Madagascar</option>
                                    <option value="">Franse</option>
                                    <option value="">Italie</option>
                                    <option value="">Etats-Unis</option>
                                    <option value="">Allemagne</option>
                                    <option value="">Pays-Bas</option>
                                    <option value="">Angleterre</option>
                                    <option value="">Comor</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Region</label>
                            <div class="col-md-6">
                                <select  class= "fields_label" >
                                    <option value="">Antananarivo</option>
                                    <option value="">Mahajanga</option>
                                    <option value="">Sava</option>
                                    <option value="">Diana</option>
                                    <option value="">Sofia</option>
                                    <option value="">Fianaratsoa</option>
                                    <option value="">Toamasina</option>
                                    <option value="">Androy</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Date de naissance</label>
                            <div class="col-md-6">
                                <input type="text" name="birthday" value="" class='fields_label'>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Phone</label>
                            <div class="col-md-6">
                                <input type="text" name="Phone number" value="" class="fields_label">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right"></label>
                            <div class="col-md-6">
                              <span class="input-nile">
                                  <input type="radio" name="" value="Homme">
                                    <label class="radio-label">Homme</label>
                              </span>
                              <span class="input-nile">
                                  <input type="radio" name="" value="Femme">
                                  <label class="radio-label">Femme </label>
                              </span>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <div class="actions">
                                  <button type="submit" class="btn submit-login">Sign up</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

