    <section class="cl1">
        <div class="sect1">Lancer mon projet</div>
        <div class="sect2">Remplissez le formulaire pour soumettre votre projet à<br>une compane de crowfunding sur Valintanana.</div>
    </section>
    <div class = "pd-in">
		<section class="sect3">
			<div class="title1">A lire attentivement avant de soumettre votre projet</div>
			<div>Valintanana est une plateforme de <span class="brown">crowdfunding de dons avec ou sans contrepartie </span> pour des projets universitaires axés sur les Objectifs de Développements Durables (ODD) à Madagascar. Dans ce sens, votre campagne de crowdfunding vise à mobiliser une communauté pour soutenir votre projet par de multiples petites contributions financières afin d’atteindre un objectif financier de collecte pendant une période donnée. Pour cela, vous êtes encouragés à  proposer diverses contreparties à vos Valifunders (vos contributeurs)  pour les remercier en fonction de leurs soutiens. </div><br>
			<div>Valintanana fonctionne selon le principe de <span class="
				green">tout ou rien</span>, c’est-à-dire que vous allez recevoir la somme collectée à l’issue de la campagne que si l’objectif de collecte est atteint à la fin de la période fixée. Si l’objectif est atteint, Valintanana prélève une commission de 7,5 % sur le montant collecté. Si l’objectif n’est pas atteint, vos contributeurs seront remboursés.</div><br>
			<div class="idd3">Les étapes à suivre pour lancer une campagne sur Valintanana ?</div>
			<br>
			<div><span class="green">1) Vous allez remplir le formulaire de sélection de projet</span> en fournissant des informations sur vous, sur votre projet et sur votre communauté. Vous pouvez sauvegarder et quitter votre formulaire pour y revenir plus tard.</div>
			<br><br>
			<div>
            Avant de remplir votre formulaire :<br>
                <ul>
                    <li>Assurez-vous que votre projet est porté majoritairement par des étudiants universitaires et/ou des sortants de l’université ayant une ancienneté inférieure à 5 ans.</li>
                    <li>Vérifiez que votre projet s’aligne avec un ou plusieurs des Objectifs de Développement Durables.</li>
                </ul>
			<div>
                En remplissant votre formulaire :
                <ul>
                    <li>Vous garantissez la véracité des informations que vous allez fournir à propos de votre projet.</li>
                    <li>Vous assurez que votre projet est concret et faisable, notamment en termes de législation en vigueur à Madagascar.</li>
                    <li>Vous vous engagez à offrir les contreparties à vos Valifunders comme prévu si la campagne réussi.</li>
                </ul>
			</div>
			<div>
                Une fois votre projet déposé, nos collaborateurs étudient votre projet sur une durée maximum de 5 jours ouvrables. 
                Valintanana SARL ainsi que ses collaborateurs s’engagent à une entière confidentialité sur les détails de votre projet.
            </div>
			<br>
			<div>2) Si votre projet est valable sur la plateforme,<span class="green"> une page de projet vous est attribuée.</span>Cette page de projet sera la vitrine que verrons vos Valifunders. Votre page doit donc refléter votre sérieux, illustrer votre vision et transmettre votre passion.Vous pouvez prendre le temps qu’il faut pour remplir votre page. Préparer d’ores et déjà les détails de votre campagne comme la vidéo de présentation, le montant de la collecte, la durée de la collecte, les détails de votre projet et les éventuelles contreparties à proposer,….L’équipe Valintanana vous conseillera aussi pour le remplissage de votre page de projet.</div>
			<br>
			<div>3) Une fois votre page de projet rempli convenablement, vous pouvez <span class="green">lancer votre campagne </span>et commencer à mobiliser la communauté autour de vous.</div>
		</section>

		<section>
			<a href="/projets/new">Remplir le formulaire</a>
		</section>
    </div>