        <div class = "container">
            <div class="row">
                <div class="col-md-3">
                    <div class="categorie-text text-el">
                        Categories
                    </div>
                    <div class="tous-option">
                        <select name="categories" id="categorie" class="fields_label">
                            <option value="default"> Toutes</option>
                                   <ul class="list-group">
                                        <% for item in 0..15 %>
                                            <option class="list-group-item list-group-item-action">option <%= item %></option>
                                        <% end %>
                                    </ul>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-el">
                        ODD
                    </div>
                        <div class="tous-option">
                            <select name="odd" id="odd" class="fields_label">
                                <option value="default"> Toutes</option>
                                    <% for item in 0..15 %>
                                        <option value="default"> option <%= item %></option>
                                    <% end %>
                            </select>
                        </div>
                    </div>
                <div class="col-md-3">
                    <div class="text-el">
                       Status du projet
                    </div>
                        <div class="tous-option">
                            <select name="odd" id="odd" class="fields_label">
                                <option value="default"> Toutes</option>
                                <option value="default">Projet en cours</option>
                                <option value="default">Projet réussi </option>
                            </select>
                        </div>
                    </div>
                <div class="col-md-3">
                    <div class="text-el">
                        Lieu d éxécution
                    </div>
                        <div class="tous-option">
                            <select name="odd" id="odd" class="fields_label">
                                <option value="default"> Toutes</option>
                                    <ul class="list-group">
                                        <% for item in 0..15 %>
                                            <option class="list-group-item list-group-item-action">option <%= item %></option>
                                        <% end %>
                                    </ul>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
<div class="pd-in">
	<div class="row">
	  	<% for @i in @project %>
	  		<%=render 'layouts/projects' %>
	 	<% end %>
	</div>
</div>
