<section class="idcontainer fixed-el">
    <div class="flat1"><a href="#">A propos du porteur de projet</a></div>
    <div class="bull"><a class="green" href="#">A propos du projet</a></div>
    <div class="bull"><a class="green" href="#">Communauté du projet</a></div>
</section>
<div class="newcontainer">
    <div class="contain-pr">
        <div class="sweet0">
            <%= render  "layouts/projets/new1" %>
        </div>
         <div class="sweet0">
            <%= render  "layouts/projets/new2" %>
        </div>
        <div class="sweet0">
            <%= render  "layouts/projets/new3" %>
        </div> 
<div class='row' style='margin-bottom:2%;margin-right:10%;'>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <div class="btn btn-primary" style="width:100%">
            Retour
        </div> 
    </div>
    <div class="col-md-3">
        <div class="btn btn-primary" id="nextele" style="width:100%">
            Suivant
        </div>
    </div>
</div>
    </div>
</div>