 <div class="pad1">
    <div class="details_index_show_type"></div>
    <div class="content_title_project text-center">
    	<h1 class="title_show_index">PROJECT TITLE</h1>
		<div class="position_rigth_icons">
		   	<div class="row">
		        <div class="col-sm-3">
		        	<div class="round round-lg blue hover_icons_class pointer">
		                <span class="fa fa-angle-double-down"></span>
		            </div>
		    	</div>
		        <div class="col-sm-3">
		        	<div class="round round-lg orange hover_icons_class pointer">
		                <span class="fa fa-play-circle"></span>
		            </div>
		    	</div>
		        <div class="col-sm-3">
		        	<div class="round round-lg green hover_icons_class pointer">
		                <span class="fa fa-user"></span>
		            </div>
		    	</div>
		    </div>
		</div>
    </div>
    <div class="content_new_object">
    	<div class="content_description_project">
    		<p>Description du projet <%= @lost %></p>
    	</div>
    </div>
</div> 
<div class="content_video_form">
	<div class="video_integrate">
		
	</div>
	<div class="content_progress1_bar_menu">
		<div class="content_show_model row">
			<div class="content_view_top col">
			    <div class="row content_model_type">
			        <div class="col-sm-6">
			            <div class="progress1 blue">
			                <span class="progress1-left">
			                    <span class="progress1-bar"></span>
			                </span>
			                <span class="progress1-right">
			                    <span class="progress1-bar"></span>
			                </span>
			                <div class="progress1-value">90%</div>
			            </div>
			        </div>
			        <div class="col-sm-6 studio_object">
			        	<p>Nombre collétés</p>
			        	<p>Sur nombre objectif</p>
			        </div>
			    </div>
			</div>
			<div class="w-100"></div>
			<div class="content_view_bottom col">
				<div class="content_user_profile">
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container text-center ml10">
  <span class="text-wrapper">
    <span class="letters">Domino Dreams</span>
  </span>
</div>
<div class="pd-in">
	<div class="row">
		<% for item in 0..3 %>
			<div class="card col-sm-3" style="max-width: 350px; margin-right: 1%;max-height: 400px;">
			  <div class="no-gutters">
			    <div class="">
			      <div class="card-body">
			        <h5 class="card-title text-center">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>
			
		<% end %>
	</div>
</div>
<section id="tabs" class="project-tab">
            <div class="pd-in">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Project Tab 1</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Project Tab 2</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Project Tab 3</a>
                                <a class="nav-item nav-link" id="nav-valifunders-tab" data-toggle="tab" href="#nav-valifunders" role="tab" aria-controls="nav-valifunders" aria-selected="false">Project Tab 4</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Project Name</th>
                                            <th>Employer</th>
                                            <th>Awards</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Work 1</a></td>
                                            <td>Doe</td>
                                            <td>john@example.com</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Work 2</a></td>
                                            <td>Moe</td>
                                            <td>mary@example.com</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Work 3</a></td>
                                            <td>Dooley</td>
                                            <td>july@example.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Project Name</th>
                                            <th>Employer</th>
                                            <th>Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Work 1</a></td>
                                            <td>Doe</td>
                                            <td>john@example.com</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Work 2</a></td>
                                            <td>Moe</td>
                                            <td>mary@example.com</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Work 3</a></td>
                                            <td>Dooley</td>
                                            <td>july@example.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Contest Name</th>
                                            <th>Date</th>
                                            <th>Award Position</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Work 1</a></td>
                                            <td>Doe</td>
                                            <td>john@example.com</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Work 2</a></td>
                                            <td>Moe</td>
                                            <td>mary@example.com</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Work 3</a></td>
                                            <td>Dooley</td>
                                            <td>july@example.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-valifunders" role="tabpanel" aria-labelledby="nav-valifunders-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Contest Name</th>
                                            <th>Date</th>
                                            <th>Award Position</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Work 1</a></td>
                                            <td>Doe</td>
                                            <td>john@example.com</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Work 2</a></td>
                                            <td>Moe</td>
                                            <td>mary@example.com</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Work 3</a></td>
                                            <td>Dooley</td>
                                            <td>july@example.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>