		<section class="smallcontainer">
			<div class="ip23">
				<div class="form-1">
					<label class="brown">1) Association*</label>
					<span>Mentionnez les associations ou autres organisations dont vous etes membre</span>
					<input type="text" class="input-label">
					<p>
						<input type="checkbox" id="test4"/>
						<label for="test4" aria-describedby="label">Nous ne sommes pas membres d'une association ou organisation</label>
					</p>
				</div>
				<div class="form-1">
					<label class="brown">2) Liens(facultatifs)</label>
					<span>copier les liens de vos réseaux sociaux et /ou de votre projet</span>
					<div class="on-line">
						<p>
							<label for="lb-1">Facebook</label>
							<input class="input-n1 ipddf-6" type="text" name="">
						</p>
						<p>
							<label for="lb-1">Linkedin</label>
							<input class=" input-n1 ipddf-6" type="text" name="">
						</p>
						<p>
							<label for="lb-1">Instagram</label>
							<input class="input-n2" type="text" name="">
						</p>
						<p>
							<label for="lb-1">Twitter</label>
							<input class="input-n2" type="text" name="">
						</p>
						<p>
							<label for="lb-1">Youtube</label>
							<input class="input-n2" type="text" name="">
						</p>
						<p>
							<label for="lb-1">Autres Sites</label>
							<input class="input-n2" type="text" name="">
						</p>
					</div>
				</div>
			</div>