		<section class="smallcontainer">
			<div class="ip23">
				<div class="form-1">
					<label class="brown">1) Nom du projet*</label>
					<input type="text" class='input-label'>
				</div>
				<div class="form-1">
					<label class="brown">2) Elevator pitch*</label>
					<span>Décrivez votre projet en quelques mots (40 mots)</span>
					<textarea ></textarea>
				</div>
				<div class="form-1">
					<label class="brown">3) Description du projet*</label>
					<span>
						Insérez une description de votre projet en une page et ajoutez les CV de l’équipe du projet dans un document au format pdf. Vous pouvez mettre en annexe des illustrations, des photos permettant de mieux comprendre votre projet.* :
						<br>
					</span>
					<input type="file" name="">
				</div>
				<div class="form-1">
					<label class="brown">4) Catégorie du projet*</label>
					<div class="uo-32">
						<div class="u-0">
							<p>
								<input type="checkbox" id="test3" />
								<label for="test3" aria-describedby="label">Art & photo</label>
							</p>
							<p>
								<input type="checkbox" id="test4" />
								<label for="test4" aria-describedby="label">Artisanat</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Cuisine</label>
							</p>
							<p>
								<input type="checkbox" id="test4" />
								<label for="test4" aria-describedby="label">Edition & journal</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Film & video</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Jeux</label>
							</p>
						</div>
						<div class="u-1">
							<p>
								<input type="checkbox" id="test3"/>
								<label for="test3" aria-describedby="label">Mode & design</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Musique & dance</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Sports</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Technologie</label>
							</p>
							<p>
								<input type="checkbox" id="test4" />
								<label for="test4" aria-describedby="label">Tourisme</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Agriculture & Elevage</label>
							</p>
						</div>
					</div>
					<label>Autre :</label>
					<input type="text" name="other" placeholder="Autre catégorie" class='input-label'>
				</div>
				<div class="form-1">
					<label class="brown">5) ODD du projet*</label>
					<span>Votre projet s'aligne principalement avec quel ODD?</span>
					<div class="u-11 uo-32">
						<div class="u-0">
							<p>
								<input type="checkbox" id="test3" />
								<label for="test3" aria-describedby="label">1.Pas de pauvreté</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">2.Faim "Zéro"</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">3.Bonne santé et bien etre</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">4.Education de qualité</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">5.Egalité etre les sexes</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">6.Eau propre et assainissement</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">7.Energie propre et d'un cout abordable</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">8.Travail decent et croissance économique</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">9.Industrie, innovation et infrastructure</label>
							</p>
						</div>
						<div class="u-2">
							<p>
								<input type="checkbox" id="test3"/>
								<label for="test3" aria-describedby="label">10.Inégalités réduites</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">11.Villes et communautés durables</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">12.Consommation et production responsables</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">13.Mesures relatives à la lutte contre les changements climatiques</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">14.Vie aquatiques</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">15.Vie terrestre</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">16.Paix, justice et institutions efficaces</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">17.Partenariats pour la réalisation des objectifs</label>
							</p>
						</div>
					</div>
				</div>
				<div class="form-1">
					<label class="brown">6) Lieu d'éxecution du projet*</label>
					<input type="text" name="" class="input-label">
				</div>
				<div class="form-1">
					<label class="brown">7) Montant de la collecte*</label>
					<span>Quel est le montant minimale que vous désirez collecter à l'issue de la compagne?</span>
					<div class="u3">
							<p>
								<input type="checkbox" id="test3" />
								<label for="test3" aria-describedby="label">Moins de 1 000 000 ar</label>
							</p>
							<p>
								<input type="checkbox" id="test4" />
								<label for="test4" aria-describedby="label">Entre 1 000 000 et 2 000 000 ar</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Entre 2 000 000 et 5 000 000 ar</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Plus de 5 000 000 ar</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Je ne sais pas encore</label>
							</p>
					</div>
				</div>
				<div class="form-1">
					<label class="brown">8) Justification de la collecte*</label>
					<span class="u3">A quoi va servir le font collecté?</span>
					<textarea ></textarea>
					</div>
				<div class="form-1">
					<label class="brown">9) Contreparties*</label>
					<span class="u3">Quelles types de contreparties allez-vous proposer à vos contributeurs ?</span>
					<div class="u3">
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Des prodits, des services...</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Des remerciements symboliques.</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Pas de contrepartie</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Je ne sais pas encore</label>
							</p>
					</div>
				</div>
				<div class="form-1">
					<label class="brown">10) Accompagnements*</label>
					<span class="u3">Etes-vous accompagné(e) par un mentor/Une organisation pour votre projet ?</span>
					<div class="u3">
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Oui</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">Non</label>
							</p>
					</div>
				</div>
				<div class="form-1">
					<label class="brown">11) Si oui, mentionnez</label>
					<div>
						<p>
							<label for="lb-1">Nom</label>
							<input class=" input-n1 ipddf-6 lb-5 input-label" type="text" name="">
						</p>
						<p>
							<label for="lb-1">N° Télephone</label>
							<input class=" input-n1 ipddf-6 input-label" type="text" name="">
						</p>
						<p>
							<label for="lb-1">Adresse mail</label>
							<input class="input-n2 input-label" type="text" name="">
						</p>
					</div>
				</div>
			</div>
		</section>