		<section class="smallcontainer">
			<div class="ip23">
				<div class="form-1">
					<label class="brown">1) Prénom*</label>
					<input type="text" class="input-label">
				</div>
				<div class="form-1">
					<label class="brown">2) Nom*</label>
					<input type="text" class="input-label">
				</div>
				<div class="form-1">
					<label class="brown">3) Sexe*</label>
					<div class="id-34">
						<p>
							<input type="checkbox" id="test3"  />
							<label for="test3" aria-describedby="label">Masculin</label>
						</p>
						<p>
							<input type="checkbox" id="test4" />
							<label for="test4" aria-describedby="label">Féminin</label>
						</p>
					</div>
				</div>
				<div class="form-1">
					<label class="brown">4) Date de naissance*</label>
					<div class="id-34">
						<div class="cl-34">
							<div>Jour</div>
							<input type="text" class="input-label">
						</div>
						<div class="m-34 cl-34">
							<div>Mois</div>
							<input type="text" class="input-label">
						</div>
						<div class="a-34 cl-34">
							<div>Année</div>
							<input type="text" class="input-label">
						</div>
					</div>
				</div>
				<div class="form-1">
					<label class="brown">5) Lieu de naissance*</label>
					<input type="text" class="input-label">
				</div>
				<div class="form-1">
					<label class="brown">6) Adresse*</label>
					<div>
						<p>
							<label for="lb-1">Lot</label>
							<input  class="input-label input-n1" type="text" name="">
						</p>
						<p>
							<label for="lb-1">Commune</label>
							<input class="input-label input-n2" type="text" name="">
						</p>
						<p>
							<label for="lb-1">District</label>
							<input class="input-label input-n3" type="text" name="">
						</p>
						<p>
							<label for="lb-1">Région</label>
							<input class="input-label input-n4" type="text" name="">
						</p>
					</div>
				</div>
				<div class="form-1">
					<label class="brown">7) Scan Recto Verso de votre CIN*</label>
					<div>
						<input class="input-label" type="file" id="file" />
					</div>
				</div>
				<div class="form-1">
					<label class="brown">8) Année d'étude universitaire*</label>
					<div class="uo-32">
						<div class="uoi1">
							<p>
								<input type="checkbox" id="test3" />
								<label for="test3" aria-describedby="label">1 ans</label>
							</p>
							<p>
								<input type="checkbox" id="test4" />
								<label for="test4" aria-describedby="label">2 ans</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">3 ans</label>
							</p>
						</div>
						<div class="uoi2">
							<p>
								<input type="checkbox" id="test3"/>
								<label for="test3" aria-describedby="label">4 ans</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">5 ans ou plus</label>
							</p>
							<p>
								<input type="checkbox" id="test4"/>
								<label for="test4" aria-describedby="label">je n'ai pas fait d'études universitaires</label>
							</p>
						</div>
					</div>
					</div>
				<div class="form-1">
					<label class="brown">9) Nom de l'Université*</label>
					<input type="text" class="input-label">
				</div>
				<div class="form-1">
					<label class="brown">10) Domaine d'étude*</label>
					<input type="text" class="input-label">
				</div>
				<div class="form-1">
					<label class="brown">11) Contacts*</label>
					<div>
						<p>
							<label for="lb-1">N° Télephone</label>
							<input class=" input-n1 ipddf-6 input-label" type="text" name="">
						</p>
						<p>
							<label for="lb-1">Adresse mail</label>
							<input class="input-n2 input-label" type="text" name="">
						</p>
					</div>
				</div>
			</div>
		</section>