<div class="container">
    <div class="login-content">
        <div class="col-25">
            <div class="container form-container">
                <form>
                    <div class = "login-form">
                        <h3 class="login-form">Se connecter</h3>
                        <div class="bold bottom color-black">
                            Pas encore de compte sur valintanana?
                                <a class="dropdown-item nav-link" href="/users/sign_up" >
                                    <strong class="color-green">Inscription</strong>
                                </a>
                        </div>
                        <br>
                        <label for="email">E mail</label>
                        <div class="field">
                            <input type="email" autocompete='email' name="email" value="" placeholder="email" class="fields_label">                        
                        </div>
                        <label for="password">Mot de pass</label>
                        <div class="field">
                            <input type="password" autocompete='current-password' name="email" value="" placeholder="Mot de passe" class="fields_label">                        
                        </div>
                    </div>
                    <div >
                        <div>
                        <div class="actions">
                            <button type="submit" class= "btn submit-login">Log in</button>
                        </div>
                        </div>
                    </div>
                </form>
           </div>
        </div>
    </div>
</div>