.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card-heigth{
  height: 6em !important;
  overflow: hidden;
  padding: 0.5%;
  margin-top: 0.5rem;
}
.pd-in{
  padding:2% 4% 2% 4%;
}
.d-title-i{
  transform:translate(-3rem,-20rem);
}
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 2em;
  padding:2% 0 2% 0;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
.contain-img{
  position: relative;
  transform: translate(50%,50%);
}
.specify-button{
  width: 60%;
  border:none !important;
  background: #83DC27;
  
}
.specify-button:hover{
  background: #B39361;
  border:none;
}
.title-card{
  width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding:1.5% 3% 1.5% 3%;
  text-align: center;
}
.stab{
  height: 10px;
  font-size: 10px !important;
  color: #83DC27 !important;
}
.bg-green{
  background: #83DC27 !important;
}
.card-user-top{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10%;
}
.contain-xml{
  margin-left: 18%;
  transform: translate(2rem,-3rem);
  position: absolute;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size:14px;
}
.contain-xml-1{
  margin-left: 18%;
  transform: translate(2rem,-1.4rem);
  position: absolute;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size:14px;
}
.catg-item{
  text-align: center;
}
.details-item{
  font-size: 13px;
  width: 30%;
}
.details-item-2{
  position: absolute;
  font-size: 13px;
  transform: translate(-10px,-2.4rem);
  right: 0;
  width: 30%;
}
.details-item-3{
  position: absolute;
  font-size: 13px;
  transform: translate(-10px,-1rem);
  right: 0;
  width: 30%;
}
.h-100{
  border-color:#83DC27 !important;
  padding:0.05rem
}
.card-body{
  padding: 0.3rem !important;
}
.flex{
  display:flex;
}
.n_obj{
  overflow: hidden;
}
.html-object{
  overflow: hidden;
  height: 38em;
}
.html-plans{
  overflow: hidden;
  height: 29em;
}
.d-position-rigth{
    width: 4rem;
    height: 36rem;
    float: right;
    transform: translate(-10px, 9.5rem);
    text-align: center;
    border-radius: 5px;
}
.d-position-left{
    width: 4rem;
    height: 36rem;
    float: left;
    transform: translate(10px, 9.5rem);
    text-align: center;
    border-radius: 5px;
}
.chevron-home{
  width: 4rem;
  transform: translateY(17rem);
  border-radius:50%;
}
.chevron-home:hover{
  box-shadow: 2px 1px 2px 1px grey;
}
