
  svg.material-icons {
    height: 24px;
    width: auto;
  }
  .higth-light:hover{
    opacity: 2;
    color:white !important;
  }
  .higth-light::before{
    border-left: #1976d2;
    border-right: #1976d2;
  }
  .higth-light::after{
    border-top: #b39361;
    border-bottom: #1976d2;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }
  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d200;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  svg#rocket-smoke {
    height: 100vh;
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }
  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
  .ng-invalid.ng-touched {
    border-color: red !important;
  }

  .login-form{
    font-weight:bold;
    color:#b39361;
    text-align:center;
  }

  .bold{
    font-weight:bold;
  }
  .new_user{
    padding: 0 8% 0 8%;
  }

.color-black{
  color:black !important;
}
.fields_label{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 2px solid #b39361;
    border-radius: 3px;
  }
  .fields_label:focus{
    border: 2px solid #b39361 !important;
    -webkit-border-before: 2px dotted;
  }
  .color-green{
    color: #80db22 !important;
    cursor: pointer;
  }
  .color-green:hover{
    color: brown !important;
  }
  .btn:hover {
    background-color: #80db22;
  }

  span.price {
    float: right;
    color: grey;
  }

  .form-container{
    width: 40% !important;
    background-color: white;
    height: 39em;
    border-radius: 2px;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 10%;
    margin-top: 5%;
  }
  .align-text-rigth{
    text-align:right;
    cursor: pointer;
  }
  .link-over:hover{
    color:#80db22 !important;
  }
  .font-position{
    position: absolute;
    z-index: 4;
    right: 36%;
    margin-top: 1%;
    font-size: 19px;
  }
  .higth-light{
    background:#b39361;
    cursor: pointer;
    margin-right: 5% !important;
    right: 5%;
    position: fixed;
    top: 0.8em;
    font-weight: bold;
    opacity:0.4;
  }


  @media screen and (max-width: 400px) {
    .font-position{
      right: 18% !important;
      margin-top:3%;
    }
  }
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
    input[type=password],input[type=text],.btn {
    width: 100%;
    }
    .login-content{
    margin-top:-10% !important;
    }
    .form-container{
    width: 100% !important;
    }
    .font-position{
      right: 13%;
      margin-top:3%;
    }
  }

  .at-resp-share-element {
      font-size: 0;
      line-height: 0;
  }
  .at-style-responsive .at-share-btn {
      padding: 5px;
  }
  .at-resp-share-element .at-share-btn {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      margin: 0 2px 5px;
      padding: 0;
      overflow: hidden;
      line-height: 0;
      text-decoration: none;
      text-transform: none;
      color: #fff;
      cursor: pointer;
      transition: all .2s ease-in-out;
      border: 0;
      font-family: helvetica neue,helvetica,arial,sans-serif;
      background-color: transparent;
  }
  .at-style-responsive .at-share-btn {
      padding: 5px;
  }
  .at-resp-share-element .at-share-btn {

      display: inline-block;
      *display: inline;
      *zoom: 1;
      margin: 0 2px 5px;
      padding: 0;
      overflow: hidden;
      line-height: 0;
      text-decoration: none;
      text-transform: none;
      color: #fff;
      cursor: pointer;
      transition: all .2s ease-in-out;
      border: 0;
      font-family: helvetica neue,helvetica,arial,sans-serif;
      background-color: transparent;

  }
  .post-header a {

      display: block;
      color: #545e6f;
      transition: all .2s ease;

  }
  .at-icon-wrapper {
      display: inline-block;
      overflow: hidden;
  }
  .at-resp-share-element {
      font-size: 0;
      line-height: 0;
  }
  .at4-visually-hidden {
      position: absolute;
      clip: rect(1px,1px,1px,1px);
      padding: 0;
      border: 0;
      overflow: hidden;
  }
  .at-resp-share-element .at-share-btn {
      line-height: 0;
      text-transform: none;
      color: #fff;
      cursor: pointer;
      font-family: helvetica neue,helvetica,arial,sans-serif;
  }
  .post-header a {
      color: #545e6f;
  }
  .at4-visually-hidden {
      position: absolute;
      clip: rect(1px,1px,1px,1px);
      padding: 0;
      border: 0;
      overflow: hidden;
  }
  .at-svc-facebook{
    width: 31.3%;
    margin-right: 1%;
    margin-left:0.1%;
  }
  .at-svc-twitter{
    width: 31.3%;
    margin-right: 1%;
  }
  .at-svc-whatsapp{
    width: 31.3%;
    margin-right: 1%;
  }
  .submit-login{
    background-color:#bf8c37 !important;
    font-weight: bold !important;
    height: 3em;
    color:white !important;
    font-size:17px !important;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	font-size: 19px;
  }
  .submit-login:hover{
    background-color: #80db22 !important;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 22em;
}
label{
  text-align: left !important;
  color: black !important;
}
input, select {
    outline: none;
}
.register-form-container{
    border-radius: 2px;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	padding: 6% 0 5% 0
}