.badge-only{
	transform: translate(-13px,-15px);
}
.valintanana-img{
width: 50px;transform: scale(2);
}
.menu-icons{
	width: 1rem;
    transform: scale(3.5,3.5);
    margin-left: 0.4rem;
}
.input-nav-search{
	height: 2.4rem;
    position: absolute;
    width: 25rem;
    padding: 0;
    border-color: brown !important;
    top: -20px;
	left: 17%;
	padding-left:2%;
	font-weight: 300;
	color:black;
}