      <div id="page">
        <div class="c£1£">
          <div class="container">
            <div class="in£">
              <img class="in£1" src="images/svg/Icone%20idée.svg"/>
            </div>
            <div class="cn£">
              <div class="generate-nt£1">Titre Introductif</div>
              <div class="">Text recapitulatif + illustrations + photos à l'appui</div>
            </div>
          </div>
          <div class="container">
            <div class="in£">
              <img class="in£1" src="images/svg/Icone%20Constats.svg"/>
            </div>
            <div class="cn£1">
              <div class="generate-nt£1">Titre Introductif</div>
              <div class="generate-cc£">
                <button class="b£1" type="button">Lire plus</button>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="in£">
              <img class="in£1" src="images/svg/Icone%20Solution.svg"/>
            </div>
            <div class="cn£1">
              <div class="generate-nt£1">Titre Introductif</div>
              <button class="b£1" type="button">Lire plus</button>
            </div>
          </div>
          <div class="container">
            <div class="in£">
              <img class="in£1" src="images/svg/Icone%20Impacts%20Positifs.svg"/>
            </div>
            <div class="cn£1">
              <div class="generate-nt£1">Titre Introductif</div>
              <button class="b£1" type="button">Lire plus</button>
            </div>
          </div>
          <div class="container">
            <div class="in£">
              <img class="in£1" src="images/svg/Icone%20équipe.svg"/>
            </div>
            <div class="cn£1">
              <div class="generate-nt£1">Titre Introductif</div>
              <button class="b£1" type="button">Lire plus</button>
            </div>
          </div>
          <div class="container">
            <div class="in£">
              <img class="in£1" src="images/svg/Icone%20A%20quoi%20va%20servir%20le%20financement.svg"/>
            </div>
            <div class="cn£1">
              <div class="generate-nt£1">Titre Introductif</div>
              <button class="b£1" type="button">Lire plus</button>
            </div>
          </div>
          <div class="container">
            <div class="in£">
              <img class="in£1" src="images/svg/Icone%20Calendrier%20des%20activités.svg"/>
            </div>
            <div class="cn£1">
              <div class="generate-nt£1">Titre Introductif</div>
              <button class="b£1" type="button">Lire plus</button>
            </div>
          </div>
          <div class="container">
            <div class="in£">
              <img class="in£1" src="images/svg/Icone%20Diaporama.svg"/>
            </div>
            <div class=" im22£ generate-n£f0 im11">
              <section class="generate-n£f0 flex f-wrap">
                <div class="ffv£"></div>
                <div class="ffv£"></div>
                <div class="ffv£"></div>
                <div class="ffv£"></div>
                <div class="ffv£"></div>
                <div class="ffv£"></div>
              </section>
            </div>
          </div>
          </div>
          <div class="container">
            <div class="generate-n£f0">
              <div class="g1£f">
                <section class="g1£f1">Nous contacter</section>
                <section>Page facebook</section>
                <section>Address e-mail</section>
              </div>
            </div>
          </div>
          <div class="generate-cc£1">
            <a class="b£1" href="#top">Retourner en haut de la page</a>
          </div>
        </div>