<footer>
		<div class="generate-n£f01">
	<div class="footer-content">
		<div class="row">
			<div class="col-md-2">
				<%= image_tag 'valintanana.png', class:'logo_footer' %>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-3">
						<p class="generate-n£f01">Nous contancter</p>
						<p class="generate-n£f02">info@valintanana.mg</p>
						<p class="generate-n£f02">+261 34 00 000 00</p>
						<p class="generate-n£f02">Lot 00 Lieu Domicialiation</p>
					</div>
					<div class="col-md-3">
						<p class="generate-n£f01">Espace Pro</p>
						<p class="generate-n£f02">L'équipe</p>
						<p class="generate-n£f02">Nos partenaires</p>
						<p class="generate-n£f02">Devenir partenaire</p>
						<p class="generate-n£f02">Lancer un appel à projet</p>
						<p class="generate-n£f02">Proposer un bon plan</p>
					</div>
					<div class="col-md-3">
						<p class="generate-n£f01">En savoir plus</p>
						<p class="generate-n£f02">Conditions d'utilisation</p>
						<p class="generate-n£f02">Comment ca marche</p>
						<p class="generate-n£f02">Accompagnement</p>
					</div>
					<div class="col-md-3">
						<p class="generate-n£f01">Newsletter</p>
						<form class="generate-form width-111">
							<div class="generate-n£f03">
								<input type="text" class="generate-n£f3044" placeholder="votre adress mail">
								<button class="btn generate-n£fff"  type="submit">S'abonner</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</footer>