		<section class="nav1">
			<div><a class="active1" href="">Lancer mon projet</a></div>
			<div><a href="">Créer une page pour mon organisation</a></div>
			<div><a href="">Nos colaborateurs</a></div>
			<div><a href="">A propos de valintanana</a></div>
			<div><a href="">FAQ</a></div>
		</section>