		<div class="card" style="width: 300px; margin-right: 1%;max-height: 400px;border-color:#b39361">
            <form>
			  <div class="no-gutters">
			    <div class="">
			      <div class="card-body">
			        <h6 class="card-title text-center">
                        <div class="_f2c7">
                                Pour 100 takalo ou plus
                        </div>
                    </h6>
			        <p class="card-text">
                        <div class="_f2c8">
                            <div class="_sVe20">
                                Description de la contrepartie <br>
                                (45 mots)
                            </div>
                        </div>
                    </p>
                    <div class="row">
                        <div class="card-text col-md-6 text-center" style='font-size: 14px;'>
                            Nombre disponible: <span class="ColorV035">20</span> <br>
                        </div>
                        <div class="_d02 col-md-6" style='font-size: 14px;'>
                            <span class="ColorV035 ">15</span> Valifunders
                        </div>
                    </div>
			        <p class="card-text"><small class=""><span class="ColorV035">Date: 26/06/2002</span></small></p>
                    <button type="submit" class="btn btn-primary" style="width: 70%;transform: translate(20%,0);background:#80db22 !important;border:none">Soutenir</button>
                    </div>
			    </div>
			  </div>
            </form>
		</div>
