            <div class="col-md-3">
              <section class="c22£"></section>
              <div class="e2£">
                <section class="z2££">Nom du profil<span class="f2£">_Date de contribution</span></section>
                <section>Nb de takalo contribué(Facultatif)</section>
              </div>
            </div>